<html>
    <head></head>
    <body>
        <form action="/add" method="POST" >
            <label for="uid">Card UID:</label><br>
            <input type="text" id="uid" name="uid"><br>
            <input type="submit">
        </form>
        Delete cards:
        <form action="/delete" method="DELETE">
                {%for i in range(0, len)%}
                <button name="delete" type="submit" value="{{cards[i]}}">{{cards[i]}}</button><br>
                {%endfor%}
        </form>
    </body>
</html>
